.add-property {
    display: flex;
    flex-direction:column;
    font-size: 20px;
    border: 2px solid rgb(198, 85, 104);
    text-align:center;
    padding: 100px;
    width: 100px;
    position:absolute;
    left: 400px;
    background-color: rgb(196, 132, 142);
  }

form {
  box-sizing: border-box;
}

.property-items {
  font-size: 17px;
}
 