.sidebar {
    height: 100%; 
    width: 120px; 
    position:relative; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:rgb(78, 64, 91); 
    overflow-x: hidden; 
    padding-top: 20px;
    padding-bottom: 60px;
}

.sidebar-links {
    margin: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 20px;
}