.sidebar {
    height:100vh; 
    width: 120px; 
    position:relative; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:rgb(78, 64, 91); 
    overflow-x: hidden; 
    padding-top: 20px;
    padding-bottom: 60px;
}

.sidebar-links {
    margin:auto;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 90px;
}

.price-link{
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}